

h1 {
    color: rgb(255, 230, 0);
    font-size: 16px;
    padding: 0px;
    margin: 0;
}

h1 a {
    color: white;
    text-decoration: none;
}

.topnav h1 a:hover {
    color: rgb(252, 235, 0);
}

.clear {
    clear: both;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: hsl(0, 0%, 40%);
    color: white;
}

.content {
    padding: 16px;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}


.topnav .icon {
    display: none;
}
  
@media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1px;
    
}
.column {
    flex:50%;
    padding: 0 0px;
    box-sizing: border-box;
}
.column img {
    width: auto;
    max-width: 100%;
    height: 100%;
    margin-top: 0px;
    vertical-align: middle;
    border:#f2f2f2 solid 1px;
    
}

@media screen and (max-width: 768px) {
    .column {
        flex: 100%;
    }
}

body{
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-size: cover;
}

h3 {
    padding-left: 3vw;
    text-align: left;
    font-size: 24px;
}

.description {
    padding-left: 1vw;
    margin: 0 2vw 2em 2vw;
    text-align: left;
    
}

.hairdresser-name {
    font-size: 100%;

}

section {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 3em;
    border-radius: 15px;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.637);
}


#about-us {
    margin-top: 3vw; /*until I make the slider*/
    text-align: center;
}

.hairdresser-one, .hairdresser-two, .hairdresser-three {
    display:  inline-block;
    width: 28%;
    margin: 0 1%;
    vertical-align: top;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
}

.hairdresser-one p, .hairdresser-two p, .hairdresser-three p {
  margin-top: 12px;
}

.hairdresser-photo {
    height: auto;
    width:100%;
    display: block;
    margin: 0 auto;
}

#service {
    content: "";
}

#photo-galery {
    content: "";
}

#reviews {
    content: "";
}

#booking{
    margin-bottom: 100px;

}

.booking-form {
    display: flex;
    flex-direction: column;
}

.booking-form label {
    display: block;
    margin: 0 10vw 1em 10vw;
    
    font-weight: bold;
}

.booking-form input{
    display: block;
    width: 100%;
    height: 3em;
    padding: 0.5em;
    margin-top: 0.5em;
    box-sizing: border-box;
}

.booking-form .form-group {
    display: flex;
    justify-content: space-between;
}

.booking-form .form-group label {
    width: 48%;
    margin-bottom: 0;
}

.booking-form .form-group input {
    width: 100%;
}

.booking-form .form-group:nth-child(odd) {
    margin-bottom: 1em; 
}

.booking-form button{
    background-color: hsl(0, 0%, 20%);
    display: inline-block;
    color: white;
    padding: 0.5em;
    margin: 0 30vw 0 30vw;
    text-align: center;
    font-size: 16px; 
}

footer {
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    display: inline-block;
    color: white;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
}

#social-media {
    color: white;
    font-size: 16px;
    display: inline-block;
}
.ftr-contact {
    text-align: center;
    padding-left: 0;
}

#Priv-Pol-Ter-Cond {
    color: rgb(252, 235, 0);
    text-decoration: none;
}

#Priv-Pol-Ter-Cond:hover {
    color: rgb(252, 113, 0);
}