

/* TOPNAV*/
h1 {
    color: rgb(23, 23, 23);
    font-size: 16px;
    padding: 0px;
    margin: 0;
}

h1 a {
    color: white;
    text-decoration: none;
}

.topnav h1 a:hover {
    color: rgb(23, 23, 23);
}

.topnav {
    overflow: hidden;
    background-color: #333;
    z-index: 1000;
}

.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffee8e;
    color: rgb(32, 32, 32);
}

.content {
    padding: 16px;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 1em;
}


.topnav .icon {
    display: none;
}
  
@media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .column {
        flex: 100%;
    }
}
/* BODY */
body{
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-size: cover;
}
/*  SLIDER */
* {box-sizing:border-box}
.mySlides {display: none;}
#slide-img {
    vertical-align: middle;
    width: 100%;
    height: auto; 
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  padding-top: 3vw;
  
}
@media (min-width: 800px) {
    #slide-img {
      width: 800px; /* Use fixed width on larger screens */
    }
    .slideshow-container {
      max-width: 800px;
    }
  }

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* H2 H3 DESCRIPTION */
h2 {
    padding-left: 3vw;
    text-align: left;
    font-size: 28px;
}
h3 {
    padding-left: 4vw;
    text-align: left;
}

.description {
    padding-left: 1vw;
    margin: 0 2vw 2em 2vw;
    text-align: left;
    
}


section {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 3em;
    border-radius: 15px;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.637);
}


#about-us {
    margin-top: 1vw; /*until I make the slider*/
    text-align: center;
}


.hairdresser-name {
    font-size: 100%;

}

.hairdresser-one, .hairdresser-two, .hairdresser-three {
    display:  inline-block;
    width: 28%;
    margin: 0 1%;
    vertical-align: top;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
}

.hairdresser-one p, .hairdresser-two p, .hairdresser-three p {
  margin-top: 12px;
}

.hairdresser-photo {
    height: auto;
    width:100%;
    display: block;
    margin: 0 auto;
}

#service {
    margin-top: 3vw;
    
}

.services-list {
    width: 50%;
    /*background-color: aqua;*/
    
}

.services-list ul {
    padding-left: 6vw;
    list-style-type: circle;
    margin: 0;
    max-width: 600px;
    margin: 20px auto;
}

.services-list ul li {
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.services-list p {
    padding-left: 3.5vw;
    font-weight: bold;
    font-size: 20px;
}

.services-list a {
    color: #ffee8e;
}
.services-list a:hover {
    color: #ffe134;
}

span {
    font-weight: bold;
    color:  #ffee8e;
    font-size: 1.1em;
    padding-bottom: 5px;
}

@media (min-width: 600px) {
    li {
        flex-direction: row; 
        align-items: center; 
    }

    span {
        margin-bottom: 0; 
    }
}


#photo-galery {
    margin-top: 1vw;
}


#booking{
    margin-top: 1vw;

}

.booking-form {
    display: flex;
    flex-direction: column;
}

.booking-form label {
    display: block;
    margin: 0 10vw 1em 10vw;
    
    font-weight: bold;
}

.booking-form input{
    display: block;
    width: 100%;
    height: 3em;
    padding: 0.5em;
    margin-top: 0.5em;
    box-sizing: border-box;
}

.booking-form .form-group {
    display: flex;
    justify-content: space-between;
}

.booking-form .form-group label {
    width: 48%;
    margin-bottom: 0;
}

.booking-form .form-group input {
    width: 100%;
}

.booking-form .form-group:nth-child(odd) {
    margin-bottom: 1em; 
}

.booking-form button{
    background-color: hsl(0, 0%, 20%);
    display: inline-block;
    color: white;
    padding: 0.5em;
    margin: 0 30vw 0 30vw;
    text-align: center;
    font-size: 16px; 
}

footer {
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    display: inline-block;
    color: white;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
}

#social-media {
    color: white;
    font-size: 16px;
    display: inline-block;
}
.ftr-contact {
    text-align: center;
    padding-left: 0;
}

#Priv-Pol-Ter-Cond {
    color: rgb(252, 235, 0);
    text-decoration: none;
}

#Priv-Pol-Ter-Cond:hover {
    color: rgb(252, 113, 0);
}